.sitemap {
  display: block;
  padding: 10vw 0;

  &__link {
    display: block;
    color: $color-main;
    font-size: 1.1vw;
    line-height: 1.2;

    &:hover {
      color: white;
    }

    &:not(:first-child) {
      margin-top: 1.3vw;
    }
  }
}
