@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

html {
  background: black;
}

body {
  color: white;
  font-weight: 200;
}

.container {
  width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.js-sr {
  visibility: hidden;
}

.main {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  $b: &;

  &__page {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: black;
    opacity: 0;
    transition: opacity $ease-main;
    pointer-events: none;

    &.is-visible {
      opacity: 1;
      pointer-events: all;
    }

    &_cases {
      z-index: 9000;
    }

    &_case {
      z-index: 9001;
      overflow-y: scroll;

      &.is-visible {
        transition: none;
      }
    }

    &_contacts {
      z-index: 9002;
      overflow: hidden;
    }

    &_404 {
      z-index: 9003;
    }
  }
}
