.lottie {
  display: block;
  position: fixed;
  top: 5vw;
  right: 5vw;
  z-index: 999999999999;
  font-size: 0;
  pointer-events: none;
  transition: opacity $ease-main;

  &.is-clickable {
    cursor: pointer;
    pointer-events: all;

    &:hover {
      opacity: .85;
    }
  }

  &.is-hidden {
    opacity: 0;
  }

  $b: &;

  @include screen('sm') {
    top: 10vw;
    right: 10vw;
  }

  svg {
    width: (142/1440) *100vw !important;

    @include screen('sm') {
      width: (100/375) *100vw !important;
    }
  }
}
