.case {
  display: block;

  $b: &;

  @keyframes line {

    0% {
      transform: translate3d(0, -100%, 0);
    }

    33% {
      transform: translate3d(0, 0, 0);
    }

    66% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 100%, 0);
    }
  }

  &__main-video {
    @include rule(width, (xl: 70vw, sm: 80vw));
    @include rule(height, (xl: 70vh, sm: 80vh));

    font-size: 0;
    opacity: 0;
    transition: opacity $ease-long;

    @include center-block;

    #{$b}__main.is-last & {
      @include rule(opacity, (xl: .4, sm: 1));
    }
  }

  &__main-video-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__line {
    position: fixed;
    width: 1px;
    height: (140/900) *100vh;
    overflow: hidden;
    transition: transform $ease-long, opacity $ease-long;

    @include rule(right, (xl: 5vw, sm: 10vw));
    @include rule(bottom, (xl: (70/900) *100vh, sm: 10vw));

    &.is-hidden, #{$b}.is-loading & {
      transform: translate3d(0, 2vw, 0);
      opacity: 0;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: white;
      animation: line 1.6s ease infinite;
      transform-origin: top;
    }
  }

  &__back {
    position: fixed;
    width: (40/1440) *100vw;
    left: (44/1440) *100vw;
    top: (68/900) *100vh;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    transition: transform $ease-main, opacity $ease-long 1s;

    @include rule(display, (sm: none));

    #{$b}.is-active & {
      opacity: 1;
    }

    #{$b}.is-loading & {
      opacity: 0;
      pointer-events: none;
      transition-delay: 0s;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  // Main screen

  &__main {
    min-height: 100vh;
    box-sizing: border-box;
    @include rule(padding-top, (xl: 25vh, sm: 10vw));
    @include rule(padding-bottom, (xl: (70/900) *100vh, sm: 10vw));
    display: flex;
    position: relative;

    .container {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    @include rule(font-size, (xl: (60/1440)*100vw, sm: 5.86667vw));
    @include rule(line-height, (xl: (70/60), sm: 1.45455));

    position: relative;
    z-index: 2;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;

    @include rule(padding-right, (sm: 14vw));

    #{$b}__main.is-last & {
      span {
        @include rule(transform, (xl: translate3d(0, 10vw, 0), sm: none));
      }
    }

    #{$b}.is-preloaded & {
      transition: opacity 1s ease !important;
      opacity: 0;
    }

    span {
      display: block;
      transition: transform 1s ease;

      @for $i from 1 to 7 {

        &:nth-child(#{$i}) {
          transition-delay: #{.1s * $i} !important;
        }
      }
    }

    .main__page_case.is-visible #{$b} & {
      opacity: 1;
    }

    .main__page_case.is-visible #{$b}.is-preloaded & {
      opacity: 1;
    }
  }

  &__description {
    @include rule(font-size, (xl: (24/1440) *100vw, sm: (11/320)*100vw));
    @include rule(line-height, (xl: (34/24), sm: 1.9));
    opacity: 0;
    transition: opacity $ease-long 1s;
    position: relative;
    z-index: 2;

    #{$b}.is-active & {
      opacity: 1;
    }

    #{$b}__main.is-last & {
      opacity: 0;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: (47/1440) *100vw, sm: 4vw));
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: auto;
    opacity: 0;
    transition: opacity $ease-long 1s;
    position: relative;
    z-index: 2;

    #{$b}.is-active & {
      opacity: 1;
    }

    #{$b}__main.is-last & {
      opacity: 0;
    }

    &:not(:first-child) {
      margin-top: (37/1440) *100vw;
    }
  }

  &__tag {
    font-size: (16/1440) *100vw;
    line-height: (20/16);

    &:not(:last-child) {

      &::after {
        content: ',\00a0';
      }
    }
  }

  &__year {
    @include rule(font-size, (xl: (13/1440) *100vw, sm: (8/320)*100vw));
    @include rule(padding-right, (sm: 10vw));

    line-height: (16/13);
    opacity: 0;
    transition: opacity $ease-long 1s;
    position: relative;
    z-index: 2;

    #{$b}.is-active & {
      opacity: 1;
    }

    #{$b}__main.is-last & {
      opacity: 0;
    }

    &:not(:first-child) {
      margin-top: (80/1440) *100vw;
    }
  }

  // Screen

  &__screen {
    @include rule(min-height, (xl: 100vh, sm: 70vh));

    width: 100%;
    box-sizing: border-box;
    padding: 10vw;
    display: flex;
    position: relative;
    align-items: center;

    &_hide-mobile {
      @include rule(display, (sm: none));
    }

    &_double {
      padding: 0;
      align-items: initial;

      @include rule(display, (sm: block));

      #{$b}__screen {
        @include rule(width, (xl: 50%, sm: 100%));
      }
    }

    &_light {
      color: black;
    }

    &_video {
      @include rule(height, (xl: 100vh, sm: 70vh));
    }
  }

  &__video {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      width: 100%;
      height: 100%;
      transition: opacity $ease-long;
    }

    &.is-loading {
      video {
        opacity: 0;
      }
    }

    &-preloader {
      width: 200px;
      height: 5px;
      z-index: 2;
      background: #505050;
      transition: opacity $ease-long, transform $ease-long;
      pointer-events: none;
      opacity: 0;
      transform: translate3d(0, 20px, 0);

      @include center-image;

      @keyframes loading {
        0% { transform: scale3d(0, 1, 1); }
        100% { transform: scale3d(.95, 1, 1); }
      }

      #{$b}__video.is-loading & {
        opacity: 1;
        transform: translate3d(0, 0, 0);

        span {
          animation: loading 20s ease;
          animation-fill-mode: forwards;
          transform-origin: left;
        }
      }

      span {
        width: 100%;
        height: 100%;
        display: block;
        background: white;
      }
    }

    &-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 0;

      video {
        height: 100%;
        width: 177.77777778vh;
        min-width: 100%;
        min-height: 56.25vw;
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        background-size: cover;
        background-position: 50%;
        will-change: transform;
      }
    }
  }

  &__picture {
    min-height: calc(100vh - 20vw);
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;

      @media (min-width: 2500px) {
        max-width: 100% !important;
      }
    }
  }

  &__background-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    &_container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      transform: scale(1.2);
      transition: transform 2s ease;

      &.is-active {
        transform: scale(1);
      }
    }
  }

  &__texts {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;

    &_centered {
      text-align: center;
    }

    a {
      display: inline-block;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-bottom: 1px solid;
        opacity: .5;
        transition: opacity $ease-main;
      }

      &:hover::after {
        opacity: 0;
      }
    }
  }

  &__case-title {
    @include rule(font-size, (xl: (38/1440) *100vw, sm: 5.86667vw));
    @include rule(line-height, (xl: (48/38), sm: 1.45455));

    transition: transform $ease-long, opacity $ease-long;
    opacity: 0;
    transform: translate3d(0, (30/1440)*100vw, 0);

    &.is-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    span {
      display: block;
    }
  }

  &__case-text {
    @include rule(font-size, (xl: (18/1440) *100vw, sm: 3.4375vw));
    @include rule(line-height, (xl: (28/18), sm: 1.9));

    transition: transform $ease-long, opacity $ease-long;
    opacity: 0;
    transform: translate3d(0, (30/1440)*100vw, 0);

    &.is-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: (29/1440) *100vw, sm: 4vw));
    }
  }

  &__case-loader {
    position: fixed;
    width: (40/1440) *100vw;
    left: (44/1440) *100vw;
    top: (68/900) *100vh;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    transition: opacity $ease-long;
    font-size: 0;
    pointer-events: none;

    @include screen('sm') {
      width: 8.2vw;
      left: auto;
      right: 10vw;
      top: 10vw;
    }

    svg {
      width: 100%;
      position: absolute;
      stroke-linecap: round;
      fill: none;
      stroke: white;
      transform: rotate(-90deg);

      circle {
        stroke-dasharray: 119px;
        stroke-dashoffset: -119px;
        stroke: white;
        transition: stroke-dashoffset 5s ease;
      }
    }

    #{$b}.is-loading & {
      opacity: 1;

      svg circle {
        stroke-dashoffset: 0;
      }
    }
  }
}
