.case {
  display: block;

  $b: &;

  @keyframes line {
    0% {
      transform: translate3d(0, -100%, 0);
    }

    33% {
      transform: translate3d(0, 0, 0);
    }

    66% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 100%, 0);
    }
  }

  &__main-video {
    width: 70vw;
    height: 70vh;
    font-size: 0;
    opacity: 0;
    transition: opacity $ease-long;

    @include center-block;

    #{$b}__main.is-last & {
      opacity: .4;
    }
  }

  &__main-video-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__line {
    position: fixed;
    bottom: (70/900)*100vh;
    right: (70/1440)*100vw;
    width: 2px;
    height: (140/900)*100vh;
    overflow: hidden;
    transition: transform $ease-long, opacity $ease-long;

    &.is-hidden, #{$b}.is-loading & {
      transform: translate3d(0, 2vw, 0);
      opacity: 0;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: $color-main;
      animation: line 1.6s ease infinite;
      transform-origin: top;
    }
  }

  &__back {
    position: fixed;
    width: (60/1440)*100vw;
    left: (44/1440)*100vw;
    top: (68/900)*100vh;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    transition: transform $ease-main, opacity $ease-long 1s;

    #{$b}.is-active & {
      opacity: 1;
    }

    #{$b}.is-loading & {
      opacity: 0;
      pointer-events: none;
      transition-delay: 0s;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  // Main screen
  &__main {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 25vh;
    padding-bottom: (70/900)*100vh;
    display: flex;
    position: relative;

    .container {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-size: (72/1440)*100vw;
    line-height: (92/72);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    transition: transform 1s ease;

    span {
      display: block;
    }

    #{$b}__main.is-last & {
      transform: translate3d(0, 10vw, 0);
    }
  }

  &__description {
    font-size: (28/1440)*100vw;
    line-height: (48/28);
    opacity: 0;
    transition: opacity $ease-long 1s;
    position: relative;
    z-index: 2;

    #{$b}.is-active & {
      opacity: 1;
    }

    #{$b}__main.is-last & {
      opacity: 0;
    }

    &:not(:first-child) {
      margin-top: (47/1440)*100vw;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: auto;
    opacity: 0;
    transition: opacity $ease-long 1s;
    position: relative;
    z-index: 2;

    #{$b}.is-active & {
      opacity: 1;
    }

    #{$b}__main.is-last & {
      opacity: 0;
    }

    &:not(:first-child) {
      margin-top: (37/1440)*100vw;
    }
  }

  &__tag {
    font-size: (16/1440)*100vw;
    line-height: (20/16);

    &:not(:last-child) {
      &::after {
        content: ',\00a0';
      }
    }
  }

  &__year {
    font-size: (13/1440)*100vw;
    line-height: (16/13);
    opacity: 0;
    transition: opacity $ease-long 1s;
    position: relative;
    z-index: 2;

    #{$b}.is-active & {
      opacity: 1;
    }

    #{$b}__main.is-last & {
      opacity: 0;
    }

    &:not(:first-child) {
      margin-top: (80/1440)*100vw;
    }
  }

  // Screen
  &__screen {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10vw;
    display: flex;
    position: relative;
    align-items: center;

    &_double {
      padding: 0;
      align-items: initial;

      #{$b}__screen {
        width: 50%;
      }
    }

    &_light {
      color: black;
    }

    &_video {
      height: 100vh;
    }
  }

  &__video {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;

    video {
      width: 100%;
      height: 100%;
    }
  }

  &__picture {
    min-height: calc(100vh - 20vw);
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;

      @media (min-width: 2500px) {
        max-width: 100% !important;
      }
    }
  }

  &__background-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    background-position: center;
  }

  &__texts {
    display: block;
    width: 100%;
  }

  &__case-title {
    font-size: (62/1440)*100vw;
    line-height: (72/72);

    span {
      display: block;
    }
  }

  &__case-text {
    font-size: (28/1440)*100vw;
    line-height: (48/28);

    &:not(:first-child) {
      margin-top: (35/1440)*100vw;
    }
  }

  &__case-loader {
    position: fixed;
    width: (60/1440)*100vw;
    left: (44/1440)*100vw;
    top: (68/900)*100vh;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    transition: opacity $ease-long;
    font-size: 0;
    pointer-events: none;

    svg {
      width: 100%;
      position: absolute;
      stroke-linecap: round;
      fill: none;
      stroke: red;
      transform: rotate(-90deg);

      circle {
        stroke-dasharray: 180px;
        stroke-dashoffset: -180px;
        stroke: red;
        transition: stroke-dashoffset 5s ease;
      }
    }

    #{$b}.is-loading & {
      opacity: 1;

      svg circle {
        stroke-dashoffset: 0;
      }
    }
  }
}
