.circle-dots {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 32px;
  transition: opacity $ease-long, transform $ease-long;
  opacity: 0;
  transform: translate3d(0, 6vw, 0);

  @include screen('sm') {
    width: auto;
    height: 16px;
  }

  .js-slider.is-visible & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  $b: &;

  &.swiper-pagination-bullets {
    position: absolute;
    left: 5vw;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    bottom: 0;
    top: 0;

    @include screen('sm') {
      top: auto;
      bottom: 10vw;
      right: 10vw;
      left: 10vw;
      flex-direction: row;
      justify-content: center;
      width: auto;
      height: 16px;
    }
  }

  &__clickable {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    @include center-block;

    @include screen('sm') {
      width: 20px;
      height: 20px;
    }
  }

  &__circle {
    position: relative;
    width: 8px;
    height: 8px;
    transition: width $ease-main, height $ease-main, box-shadow $ease-main, background $ease-main, opacity $ease-main;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    transform: rotate(-90deg);

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('sm') {
        margin-top: 0;
        margin-left: 12px;
      }
    }

    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      stroke-width: 1px;
      stroke-linecap: round;
      fill: none;
      stroke: white;

      circle {
        stroke-dasharray: 75px;
        stroke-dashoffset: 0;
        stroke: white;
      }
    }

    &:not(.is-active) {

      svg circle {
        transition: stroke-dashoffset 1s linear !important;
      }

      &:hover {
        @include screen(lg, min) {
          opacity: .5;
        }
      }
    }

    &.is-active {
      width: 26px;
      height: 26px;
      background: transparent;

      svg circle {
        stroke-dashoffset: 75px;
        transition: stroke-dashoffset 5s linear;
      }
    }
  }
}
