@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  position: relative;
  width: 100vw;
  height: 100vh;

  $b: &;

  &__slide {
    display: flex;
    align-items: center;
    height: 100%;

    .container {
      @include screen('sm') {
        height: 100%;
        padding: 10vw;
      }
    }
  }

  &__video {
    width: 70vw;
    height: 70vh;
    font-size: 0;
    opacity: 0;
    transition: opacity $ease-long;

    @include center-block;

    @include screen('sm') {
      width: 80vw;
      height: 80vh;
    }

    #{$b}.is-visible .swiper-slide-active & {
      opacity: .4;
    }

    .is-case-open & {
      opacity: 0;
    }
  }

  &__video-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    z-index: 5;
    position: relative;
    font-size: 5vw;
    line-height: (92/72);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;

    @include screen('sm') {
      font-size: (22/375)*100vw;
      line-height: (32/22);
    }

    span {
      display: block;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        border-top: 1px solid white;
        opacity: .5;
        transition: transform $ease-main, opacity $ease-main;

        @include screen('sm') {
          display: none;
        }
      }
    }

    &:hover span::after {
      transform: translate3d(0, -0.5vw, 0);
      opacity: 1;
    }

    span {
      transform: translate3d(0, 5vw, 0);
      transition: transform $ease-long, opacity $ease-long;
      opacity: 0;

      @for $i from 1 to 4 {
        &:nth-child(#{$i}) {
          transition-delay: #{0.1s * $i};
        }
      }
    }

    .js-slider.is-visible & {
      span {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    .is-case-open & {
      span {
        opacity: 1;
        transform: translate3d(0, 0, 0);

        &::after {
          transform: translate3d(0, 0, 0);
          opacity: 0;
        }
      }
    }
  }
}
