mixin slider()
  +b.slider&attributes(attributes).swiper-container.js-slider
    .swiper-wrapper
      each item in getData('slides')
        +e.slide.swiper-slide
          .container
            +e.H2.title
              each line in item.title
                span!= line

            +e.video
              +e.video-wrapper
                video(src=item.video, muted, playsinline, preload="auto").js-slide-video

    +circle-dots

mixin slide()
  +e.slide&attributes(attributes).swiper-slide
    block

mixin ui-kit-slider
  +ui-section
    +ui-section-head
      +ui-title Слайдер
      +ui-path
        p Блок: blocks/slider/slider
      +ui-description
        p
          a(href="https://idangero.us/swiper/api/" target="_blank") Документация

    +ui-section-content()
      +slider(true, true)
        +slide Привет
        +slide Привет
        +slide Привет
        +slide Привет

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
