.preloader {
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999999;
  background: black;
  font-size: 0;

  $b: &;

  &__titles {
    position: relative;
    display: inline-block;
  }

  &__title {
    font-size: 5vw;
    line-height: (92/72);
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $color-grey;
    display: block;

    span {
      transform: translate3d(0, 5vw, 0);
      transition: transform $ease-long, opacity $ease-long;
      opacity: 0;

      @for $i from 1 to 4 {

        &:nth-child(#{$i}) {
          transition-delay: #{.1s * $i};
        }
      }
    }

    #{$b}.is-visible & {

      span {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    &_copy {
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      white-space: nowrap;
      overflow: hidden;
      color: white;

      #{$b}.is-loading & {
        width: 100%;
        transition: width 60s ease;
      }

      span {
        opacity: 1;
      }
    }

    span {
      display: block;
    }

    #{$b}.is-loaded & {
      overflow: visible;

      span {
        opacity: 0;
        transform: translate3d(0, -4vw, 0);
      }
    }
  }
}
