mixin preloader()
  +b.preloader.js-preloader&attributes(attributes)
    .container
      +e.titles
        +e.title(class=item)
          span Product design
          span & creative

        +e.wrapper
          +e.title(class="_copy")
            span Product design
            span & creative

mixin ui-kit-preloader()
  +ui-section
    +ui-section-head
      +ui-title Компонент preloader
      +ui-path
        p Компонент: components/preloader/preloader
      +ui-description
        p Описание компонента

    +ui-section-content()
      +preloader

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
